@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
body {
  position: absolute;
  font-family: "Roboto", sans-serif;
  margin: 0;
  background-color: #f2f4ed;
  width: 100%;
  margin: 0px 0px;
}
h1{
  margin-top: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  list-style: none;
}

li {
  line-height: 2.2;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
  background: linear-gradient( #0f0f0f ,  #9e9b9b);

  margin-bottom: 60px;
}

  .logo {
    display: inline-block;
    justify-content: space-between;
    
    color:#FAEBD7;
    font-size: 25px;
    padding-left: 6px ;
    border: 30px;
    text-decoration: none;
    
  }
  .logo:hover{
    font-size: 27px ;
  }

  .par-logo-white{
    display: inline-block;
    margin: auto 0.5rem auto 0.5rem;
  }
  .par-logo-red{
    display: inline-block;
    color:#ba2b29;
    margin: auto 0.5px auto 0.5px;
    
  }
 
  .signin-up-header  p  {
    margin: auto 1rem auto 1rem;
    display: inline-block;
    color:#FAEBD7;
    font-size: 20px;
  }

  .login-p-header:hover{
   color: #ba2b29;
   
  }
  .register-p-header:hover{
    color: #ba2b29;
    
   }

 
  
  .log-page{
 
    position: static;
    text-align: center;
    

   margin: 7% 10% auto 10%;


    

  }
  .form{
    position: static;
    text-align: center;
    margin: auto 25%;
    
  }
  .form h1{
    font-family: 'Brush Script MT', cursive;
    font-size: 300%;
   
  }
  
  .form-group input{
    text-align: left;
    font-size: large;
    background-color: none;
    background-color: #f2f4ed;
    border-right:none;
    border-top: none;
    border-left: none;
    border-bottom: 1.5px solid rgb(88, 86, 86);
   margin: 3px 0px;
   width: 100%;
  

   
    height: 2.8rem;
    

  }
  .form-group p{
    text-align: right;
    font-size: 170%;
    color: #3f3e3e;
    margin-bottom: 18px;
    margin-top: 2%;
    font-family: 'Brush Script MT', cursive;
  }
  .btn-login{
   
    margin: 7% auto 1% auto;
    width: 80%;
    height: 2.5rem;
    font-size: 150%;
    background-color: #f2f4ed;
    color: #282727;
    border: 1px solid rgb(88, 86, 86);
    border-radius: 5px;
   
  }
  .btn-login:hover{
    
    font-size: 170%;
    width: 82%;
    
   
  }
  .p-icon{
    font-size: 150%;
    color: #3f3e3e;
    font-family: 'Brush Script MT', cursive;

  }
  .google-facebook-login{
    margin-top: 20px;
  }
  .google-icon:hover{
    font-size: 90px;
  }
  .loadingSpinnerContainer {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 5000;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .loadingSpinner {
    width: 64px;
    height: 64px;
    border: 8px solid;
    border-color: rgb(23, 158, 19) transparent #555 transparent;
    border-radius: 50%;
    animation: spin 1.2s linear infinite;
  }
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  
  .home-header{
    align-items: center;
    text-align: center;
    background-image: url('https://images.unsplash.com/photo-1634480256802-7cb50e5a196a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
    height: 12rem;
    background-color:black ;
  }

  .home-search{
    position: relative;
    padding: auto 20px;
    border: 1px solid #000;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
   padding: auto 20px;
   top: 60px;
    
    
   
  }
  .search{
    background-color: white;
    width: 400px;
    height: 45px;
    border-radius: 9999px;
    margin: 0 auto;
    text-align: left;
    padding-left: 20px;
    display: flex;
    align-items: center;
    
  }
  .home-search button{
   margin-left: 4px;

    
  }
  .search input{
     outline: none;
    margin-left: 15px;
    border: none;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 100%;
    font-size: large;
    color: #555;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    
  }

  .home-profile{
    /* background-color: #f2f4ed; */
    height: 70px;
    

  }
  .home-profile ul{
    display: flex;
  align-items: center;
  justify-content: space-between;
  }
  .home-profile h1,li{
    
    margin-right: 5px;
    display: inline-block;
    text-align: end;
  }
  .home-profile div{
    
    color: #f2f4ed;
    height:50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    

  }
  .btn-logout{
    border: 1.5px solid #f2f4ed;
    padding: 0 8px ;
  }
  .btn-logout:hover{
    font-size: large;
  }
  .profile-img{
   width: 40px;
   height: 40px;
   border-radius: 50%;
   margin-left: 5px;
  }
  .home-main{
    /* margin-left: 200px; */
    
    /* background-color: #ba2b29; */

  margin: 10px 0px;
    
  }
  .place-item{
    border: 1px solid green;
    width: 100%;
    height:300px;
    background-color: #f6f5f5;
    margin: 30px 5px ;


    
  }
  .sa{
    /* background-color: #0f0f0f; */
    margin:10px 0px;
     /* position: relative; */
  }
  .place-item img{
    width: 100%;
    height: 200px;
  }

  
